/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: notosans-regular, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

/* import font style */
@font-face {
  font-family: "notosans-regular";
  src: url("../assets/fonts/notosans-regular.2cb88a13.woff2") format("opentype");
}
@font-face {
  font-family: "notosans-semibold";
  src: url("../assets/fonts/notosans-semibold.df3e6dc4.woff2")
    format("opentype");
}
@font-face {
  font-family: "notosans-bold";
  src: url("../assets/fonts/notosans-bold.3ede5aff.woff2") format("opentype");
}

/* Nav bar css */
.v-app-bar {
  height: 48px !important;
  left: 178px !important;
}
.v-navigation-drawer {
  width: 178px !important;
  background-color: #393a3d !important;
}
/* Header css */
.v-toolbar__content {
  height: 48px !important;
}
.v-toolbar__content,
.v-toolbar__extension {
  padding: 4px 10px !important;
}
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: none !important;
}
.v-app-bar.v-toolbar.v-sheet {
  background-color: #fff !important;
}
/* main css */
.v-main {
  padding: 48px 0px 0px 178px !important;
  height: calc(100vh - 48px) !important;
  overflow: hidden;
}
/* dialog css*/
.dialog-add-update .v-dialog:not(.v-dialog--fullscreen) {
  max-height: calc(100% - 34px) !important;
  height: calc(100% - 34px) !important;
}
/* label dialog */
label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}
/* autocomplete css */
.v-input__control {
  min-height: 33px !important;
}
.v-text-field {
  height: 33px;
}
#input-168 {
  padding-left: 10px;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none !important;
  border-radius: 2px;
  border: 1px solid #babec5;
}
.v-list-item__title {
  font-size: 0.9rem;
}
.v-input__icon {
  width: 32px !important;
  height: 32px !important;
  cursor: pointer;
}
.v-input__icon:hover {
  background: #e0e0e0;
}
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
  > .v-input__control
  > .v-input__slot,
.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding-right: 0px;
}
/* Radio button */
.v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
  margin-bottom: 0px !important;
}
.v-input--selection-controls {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.v-messages {
  display: none !important;
}
.v-input--selection-controls__ripple {
  height: 24px;
  width: 24px;
  left: -10px !important;
  top: calc(50% - 19px) !important;
}
.v-input--selection-controls__input {
  height: 18px;
  width: 18px;
}
.v-label {
  margin-bottom: 0px !important;
  font-size: 13px !important;
  color: #000 !important;
  font-weight: 400 !important;
}
.v-input__slot {
  margin-bottom: 0px !important;
  height: 33px !important;
}
.v-radio:not(:last-child) {
  margin-right: 20px;
}
.v-input--radio-group__input {
  margin-left: 10px;
}
/* Pagination */
.v-pagination__navigation {
  visibility: hidden;
}
.theme--light.v-pagination .v-pagination__item--active {
  color: #000;
}
.v-pagination__item {
  box-shadow: none;
  border-radius: 0px;
}
.v-pagination__item--active {
  box-shadow: 0 1px 0 0 #e0e0e0; /* Border bottom */
  box-shadow: 0 -1px 0 0 #e0e0e0; /* Border top */
  box-shadow: -1px 0 0 0 #e0e0e0; /* Border left */
  box-shadow: 1px 0 0 0 #e0e0e0; /* Border right */
  box-shadow: 0 0 0 1px #e0e0e0; /* All the borders by using the spread properties */
  font-weight: 700;
}
.v-pagination__item {
  height: auto !important;
  margin: 0.3rem;
  min-width: 0px !important;
  padding: 0 6.5px !important;
  font-size: 13px;
  color: #000;
}
