tr {
  height: 47px;
}
.table-checkbox {
  min-width: 40px;
  width: 40px;
}
tr td {
  padding: 5px 10px;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px dotted #c7c7c7;
  background: #fff;
}
tr:hover td {
  background: #f3f8f8;
}
.sticky {
  position: sticky;
  width: 120px;
  height: 34px;
  border-right: none;
  right: 0;
  text-align: center;
  background: #fff;
  z-index: 100;
}
tbody .sticky {
  border-left: 1px dotted #c7c7c7;
}
/* choose btn */
.fix-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.fix-container span {
  font-family: notosans-semibold;
  color: #0075cb;
  padding: 6px 0 6px 16px;
}
.choose-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  z-index: 1000;
}

.list-select {
  position: absolute;
  height: auto;
  width: auto;
  z-index: 9990;
  transform: translate(-101%);
  background-color: #fff;
  top: 16px;
  right: 0;
  padding: 2px 0;
  border: 1px solid #babec5;
  border-radius: 2px;
  text-align: left;
}
.list-select-item {
  background: #fff;
  padding: 5px 10px;
  height: 32px;
  cursor: pointer;
}
.list-select-item:hover {
  background: #ebedf0;
  color: #2ca01c;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table thead tr {
  height: 34px;
}
.table thead th {
  text-align: left;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "notosans-bold";
  background: #eceef1;
  top: 0;
  color: #000;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 1px 1px -1px #bbb;
  z-index: 100;
}
.table thead th:not(:last-child) {
  position: sticky;
}
.m-250 {
  min-width: 250px;
}
.m-150 {
  min-width: 150px;
}
.m-180 {
  min-width: 180px;
}
.m-120 {
  min-width: 120px;
}
.th-sticky {
  right: 0;
  text-align: center !important;
  border-left: 1px solid#c7c7c7;
  z-index: 101;
}
.th-sticky th {
  height: 34px;
  width: 120px;
}
/* .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background-color: #c7c7c7;
  height: 100%;
} */
/* Drop down in table */
.dropdown-icon {
  width: 16px;
  height: 16px;
  background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -896px -359px;
}
